@import url('https://fonts.googleapis.com/css?family=Krub:400,700');
body {
  background-image: url("images/wp.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Krub', sans-serif;
}
h1, h2, h3 {
  font-family: 'Nunito Sans', sans-serif;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
h2 {
  color: rgb(244,0,6);
  margin-top: 100;
  text-align: center;
  font-size: 40px;
  font-weight: 1200;
}
.container {
  width: 700px;
  margin: 40px auto;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.card-interest {
  column-count: 3;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-voice {
  margin-top: 80px;
  margin-left: 1105px;
  top: 1200 px;
  right: 0;
  left: 1385px;
  width: 200px;
  height: 50px;
  background-color: rgb(244,0,6);
  color: white;
  border-radius: 4px;
}
.btn-voice:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 100px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: rgb(244,0,6);
}
.interests_banner {
  width: 315px;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.interests_banner .interests_base {
  position: relative;
  z-index: 1;
  border-radius: 0px 0px 0 0;
  margin: 0 auto;
  padding: 0px 0px 0 0px;
  background-color: rgb(23,26,33);
  overflow: hidden;
}
.interests_banner .image_banner {
  transform: scale(1.0);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.interests_banner .interests_base::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 80px;
  bottom: -45px;
  left: -25%;
  content: "";
  background-color: rgb(27,34,44);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
  .interests_banner .interests_base::after {
    height: 160px;
    bottom: -90px;
  }
}
.interests_banner .interests_description {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: rgb(27,34,44);
}
.interests_banner .interests_description::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 3px;
  background-color: rgb(27,34,44);
  content: "";
  top: 12px;
  right: 30px;
}
.interests_banner .interests_description h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .interests_banner .interests_description h6 {
    font-size: 14px;
  }
}
.interests_banner .interests_description p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .interests_banner .interests_description p {
    font-size: 12px;
  }
}
.interests_banner:hover .interests_base::after,
.interests_banner:focus .interests_base::after {
  background-color: rgb(244,0,6);
  transform: scale(1.5);
}
.interests_banner:hover .interests_description,
.interests_banner:focus .interests_description {
  background-color: rgb(244,0,6);
}
.interests_banner:hover .image_banner,
.interests_banner:focus .image_banner {
  transform: scale(1.3);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.interests_banner:hover .interests_description::after,
.interests_banner:focus .interests_description::after {
  background-color: rgb(249,249,249);
}
.interests_banner:hover .interests_description h6,
.interests_banner:focus .interests_description h6 {
  color: rgb(249,249,249);
}
.interests_banner:hover .interests_description p,
.interests_banner:focus .interests_description p {
  color: rgb(249,249,249);
}
.interests_banner:hover .grid-container,
.interests_banner:focus .grid-container {
  transform: scale(1.3);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.image_banner {
  width: 315px;
  height: 650px;
  object-fit: cover;
}
.grid-container {
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: 315px 315px 315px 315px;
  grid-gap: 20px;
}
.card {
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  width: 1325px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: rgb(23,26,33);
  overflow: hidden;
}
.ds-top {
  background: rgb(244,0,6);
  margin-left: 275px;
}
.avatar-holder {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.name {
  margin-left: 275px;
  margin-top: -220px;
  color: rgb(255, 255, 255);
}
.text {
  margin-left: 275px;
  margin-top: -20px;
  color: rgb(255, 255, 255);
}
.bg {
  position: relative;
  background-color: rgb(22,22,22, 0.85);
  margin: auto;
  justify-content: center;
  width: 1400px;
}
h6 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
}
.designation{
  text-decoration: none;
  color: rgb(249,249,249);
  font-size: 20px;
}
